----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
-- HƯỚNG DẪN :
-- 1. Nhấn F5 để tạo CSDL (Không cần đánh khối
-- 2. Đóng tập tin này lại để bắt đầu làm bài
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
set nocount on
if exists (select * from SysObjects where name='spGetTableList' and type='P') 
	drop proc spGetTableList
go
create proc spGetTableList
	@arrTables cursor varying output 
as begin 
	set @arrTables = cursor for
		select table_name
		from Information_Schema. TABLES
		where table_type='BASE TABLE'
		--and table_name <> 'dtproperties'
	open @arrTables
end
go

if exists (select * from SysObjects where name='spGetFKList' and type='P') 
	drop proc spGetFKList
go
create proc spGetFKList
	@arrFKs cursor varying output 
as begin 
	set @arrFKs = cursor for
		select constraint_name, table_name
		from Information_Schema. TABLE_CONSTRAINTS
		where constraint_type='FOREIGN KEY'
	open @arrFKs
end
go
-----------------------------------------------------------------------------------------------
-- đoạn này dùng để lấy tên table và fk để mình drop constraint của nó
if exists (select * from SysObjects where name='spClearFKs' and type='P') 
	drop proc spClearFKs
go
create proc spClearFKs
	@dbName varchar(66)
as begin
	--save db hiện hành
	declare @curDB varchar(66)
	set @curDB=db_name() 
		
	if (@dbName is null) or (@dbName='') begin
		set @dbName=db_name()
	end
	if @dbName in ('master') begin
		raisError ('Không thể xóa object(s) hệ thống!',16,1)
		return -1
	end
	
	--db_name() này ở đâu ra vậy , có phải là hàm có sẵn ko ? 
	----La` ha`m co' san~
	--chuyen de'n db muo'n xoa'
	declare @sc nvarchar(333)
	
	set @sc='use '+@dbName
	exec sp_executeSQL @sc

	--lấy ds các FK & bảng chứa chúng
	declare @c cursor 
	exec spGetFKList @c output
	--thực hiện xóa FK
	declare @tableName varchar(66), @fkName varchar(66)
	fetch next from @c into @fkName, @tableName
	while @@fetch_status=0 begin
		set @sc='alter table '+@tableName+' drop constraint '+ @fkName
		exec sp_executeSQL @sc

		fetch next from @c into @fkName, @tableName
	end
	close @c
	deallocate @c
	--
	set @sc='use '+@curDB
	exec sp_executeSQL @sc
end
go
-----------------------------------------------------------------------------------------------
--Đoạn này để drop table
if exists (select * from SysObjects where name='spClearTables' and type='P')
	drop proc spClearTables
go
create proc spClearTables
	@dbName varchar(66)
as begin
	declare @curDB varchar(66)
	set @curDB=db_name()
	--
	declare @sc nvarchar(333)

	if (@dbName is null) or (@dbName='') begin
		set @dbName=db_name()
	end
	if @dbName in ('master') begin
		raisError ('Không thể xóa object(s) hệ thống!',16,1)
		return -1
	end
		
	set @sc='use '+@dbName
	exec sp_executeSQL @sc
	--		
	declare @c cursor 
	exec spGetTableList @c output

	declare @tableName varchar(66)
	fetch next from @c into @tableName
	while @@fetch_status=0 begin
		set @sc='drop table '+@tableName
		exec sp_executeSQL @sc
		
		fetch next from @c into @tableName
	end
	close @c
	deallocate @c
	--
	set @sc = 'use '+@curDB
	exec sp_executeSQL @sc
	--
	return 0
end
go
-----------------------------------------------------------------------------------------------
--doạn này drop db
if exists (select * from SysObjects where name='spClearDB' and type='P')   --type ='P' or 'U' là gì vậy
	drop proc spClearDB
go
create proc spClearDB
	@dbName varchar(66)
as begin
	declare @curDB varchar(66)
	set @curDB=db_name()
	--	
	if (@dbName is null) or (@dbName='') begin
		set @dbName=db_name()
	end

	if @dbName in ('master') begin
		raisError ('Không thể xóa object(s) hệ thống!',16,1)
		return -1
	end
	--
	exec spClearFKs @dbName
	exec spClearTables @dbName
	--
	declare @sc nvarchar(333)
	set @sc = 'use '+@curDB
	exec sp_executeSQL @sc
	--
	return 0
end
go
exec spClearDB ''
go

create database QLDT
go
use QLDT
go
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
create table GIAOVIEN 
(
	MAGV char (5), 
	HOTEN nvarchar(40), 
	LUONG float, 
	PHAI nchar(3), 
	NGSINH datetime, 
	DIACHI nvarchar(100), 
	GVQLCM char(5), 
	MABM nchar(5)
	PRIMARY KEY (MAGV)
)

create table GV_DT 
(
	MAGV char(5), 
	DIENTHOAI char(12),
	PRIMARY KEY (MAGV, DIENTHOAI)
)

create table BOMON 
(
	MABM nchar(5),
	TENBM nvarchar(40), 	 
	PHONG char(5),
	DIENTHOAI char(12), 
	TRUONGBM char(5), 
	MAKHOA char(4), 	
	NGAYNHANCHUC datetime,
	PRIMARY KEY (MABM)
)
create table KHOA 
(
	MAKHOA char(4), 
	TENKHOA nvarchar(40), 
	NAMTL int, 
	PHONG char(5), 
	DIENTHOAI char(12), 	
	TRUONGKHOA char(5), 
	NGAYNHANCHUC datetime,
	PRIMARY KEY (MAKHOA)	
)

create table DETAI 
(
	MADT char(3), 
	TENDT nvarchar(100), 
	CAPQL nvarchar(40), 
	KINHPHI float, 
	NGAYBD datetime, 
	NGAYKT datetime, 	
	MACD nchar(4),
	GVCNDT char(5), 	
	PRIMARY KEY (MADT)
)

create table CHUDE 
(
	MACD nchar(4), 
	TENCD nvarchar(50),
	PRIMARY KEY (MACD)
)
create table CONGVIEC 
(
	MADT char(3), 
	SOTT int, 
	TENCV nvarchar(40), 
	NGAYBD datetime, 
	NGAYKT datetime,
	PRIMARY KEY (MADT, SOTT) 
)

create table THAMGIADT 
(
	MAGV char(5), 
	MADT char(3), 
	STT int, 
	PHUCAP float , 
	KETQUA nvarchar(40),
	PRIMARY KEY (MAGV, MADT, STT)
)

create table NGUOITHAN 
(
	MAGV char(5), 
	TEN nvarchar(20), 
	NGSINH datetime, 
	PHAI nchar(3),
	PRIMARY KEY (MAGV, TEN)
)

alter table GIAOVIEN add
	constraint FK_GIAOVIEN_BOMON foreign key (MABM) references BOMON (MABM),
	constraint FK_GIAOVIEN_GIAOVIEN foreign key (GVQLCM) references GIAOVIEN (MAGV)

alter table KHOA add 
	constraint FK_KHOA_GIAOVIEN foreign key (TRUONGKHOA) references GIAOVIEN (MAGV)

alter table BOMON add 
	constraint FK_BOMON_KHOA foreign key (MAKHOA) references KHOA(MAKHOA),
	constraint FK_BOMON_GIAOVIEN foreign key (TRUONGBM) references GIAOVIEN (MAGV)

alter table NGUOITHAN add
	constraint FK_NGUOITHAN_GIAOVIEN foreign key (MAGV)references GIAOVIEN (MAGV)

alter table THAMGIADT add
	constraint FK_PHANCONG_GIAOVIEN foreign key (MAGV)references GIAOVIEN (MAGV),
	constraint FK_PHANCONG_CONGVIEC foreign key (MADT, STT)references CONGVIEC(MADT, SOTT)

alter table DETAI add
	constraint FK_DETAI_CHUDE foreign key (MACD)references CHUDE (MACD)

alter table DETAI add
	constraint FK_DETAI_GIAOVIEN foreign key (GVCNDT)references GIAOVIEN (MAGV)

alter table GV_DT add
	constraint FK_DIENTHOAI_GIAOVIEN foreign key (MAGV)references GIAOVIEN (MAGV)

alter table CONGVIEC add 	
	constraint FK_CONGVIEC_DETAI foreign key (MADT)references DETAI (MADT)
----------------
insert into KHOA values ('CNTT',N'Công nghệ thông tin',1995,'B11','0838123456',null,'02/20/2005')
insert into KHOA values ('VL',N'Vật lý',1976,'B21','0838223223',null,'09/18/2003')
insert into KHOA values ('SH',N'Sinh học',1980,'B31','0838454545',null,'10/11/2000')
----------------
insert into BOMON values (N'HTTT',N'Hệ thống thông tin','B13','0838125125',null,'CNTT','09/20/2004')
insert into BOMON values (N'CNTT',N'Công nghệ tri thức','B15','0838126126',null, 'CNTT', null)
insert into BOMON values (N'MMT',N'Mạng máy tính','B16','0838676767 ',null,'CNTT','05/15/2005')
----------------
insert into GIAOVIEN values ('001',N'Nguyễn Hoài An',2000,N'Nam','02/15/1973',N'25/3 Lạc Long Quân, Q.10, TP HCM', null, N'MMT')
insert into GIAOVIEN values ('002',N'Trần Trà Hương',2500,N'Nữ','06/20/1960',N'125	Trần Hưng Đạo, Q.1,TP HCM', null, N'HTTT')
insert into GIAOVIEN values ('003',N'Nguyễn Ngọc Ánh',2200,N'Nữ','05/11/1975',N'12/21	Võ Văn Ngân	Thủ Đức, TP HCM', '002',N'HTTT')
----------------
insert into GV_DT values ('001','0903123123')
insert into GV_DT values ('001','0838912112')
insert into GV_DT values ('002','0913454545')
----------------
insert into CHUDE values (N'QLGD',N'Quản lý giáo dục')
insert into CHUDE values (N'NCPT',N'Nghiên cứu phát triển')
insert into CHUDE values (N'ƯDCN',N'Ứng dụng công nghệ')
----------------
insert into DETAI (MADT, TENDT, KINHPHI, CAPQL, NGAYBD, NGAYKT, MACD, GVCNDT) values ('001',N'HTTT quản lý các trường ĐH',20,N'ĐHQG','10/20/2007','10/20/2008',N'QLGD','002')
insert into DETAI (MADT, TENDT, KINHPHI, CAPQL, NGAYBD, NGAYKT, MACD, GVCNDT) values ('002',N'HTTT quản lý giáo vụ cho một Khoa','20',N'Trường','10/12/2000','10/12/2001',N'QLGD','002')
insert into DETAI (MADT, TENDT, KINHPHI, CAPQL, NGAYBD, NGAYKT, MACD, GVCNDT) values ('003',N'Nghiên cứu chế tạo sợi Nanô Platin','300',N'ĐHQG','05/15/2008','05/15/2010',N'NCPT','005')
----------------
set dateformat dmy

insert into CONGVIEC values ('001',1,N'Khởi tạo và Lập kế hoạch','20/10/2007','20/12/2008')
insert into CONGVIEC values ('001',2,N'Xác định yêu cầu','21/12/2008','21/03/2008')
insert into CONGVIEC values ('001',3,N'Phân tích hệ thống','22/03/2008','22/5/2008')
set dateformat mdy
----------------
insert into THAMGIADT values ('003','001',1,1,N'Đạt')
insert into THAMGIADT values ('003','001',2,0,N'Đạt')
insert into THAMGIADT values ('002','001',4,2,N'Đạt')
----------------
update KHOA set TRUONGKHOA = '002' where MAKHOA='CNTT'
update KHOA set TRUONGKHOA = '005' where MAKHOA='VL'
update KHOA set TRUONGKHOA = '004' where MAKHOA='SH'
update KHOA set TRUONGKHOA = '007' where MAKHOA='HH'
----------------
update BOMON set TRUONGBM = '002' where MABM=N'HTTT'
update BOMON set TRUONGBM = '001' where MABM=N'MMT'
update BOMON set TRUONGBM = '005' where MABM=N'VLƯD'
update BOMON set TRUONGBM = '004' where MABM=N'VS'
update BOMON set TRUONGBM = '007' where MABM=N'HPT'
----------------
insert into NGUOITHAN values ('001', N'Hùng', '1/14/1990', N'Nam')
insert into NGUOITHAN values ('001', N'Thủy', '12/8/1994', N'Nữ')
insert into NGUOITHAN values ('003', N'Thu', '9/3/1998', N'Nữ')

select * FROM dbo.BOMON
select * FROM dbo.CHUDE
select * FROM dbo.CONGVIEC
select * FROM dbo.DETAI
select * FROM dbo.GIAOVIEN
select * FROM dbo.GV_DT
select * FROM dbo.KHOA
select * FROM dbo.NGUOITHAN
select * FROM dbo.THAMGIADT
